body {
  font-family: 'Raleway', sans-serif;
  background-color: #270f2e;
  color: #fff;
}

nav {
  background-color: #270f2e;
}

div, img {
  border-radius: 8px;
}

#my-works {
  background-color: #441c50;
  .image-top {
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  color: #441c50;
}

#contact form label {
  font-weight: 700;
  color: #373a3c;
}

.m-bottom-5rem {
  margin-bottom: 5rem;
}

.brand-icon {
  max-width: 50px;
}

@media (max-width: 768px) {
  #contact form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }

  body {
    text-align: center;
  }
  header, .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  #about-me {
    margin: 0px !important;
    max-width: 100%;
  }
}
